---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Chart.Name }}
spec:
  egress:
    - {}
  ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            name: ingress-external
      - podSelector:
          matchLabels:
            {{- include "helm.selectorLabels" . | nindent 12 }}
      ports:
        - port: {{ .Values.service.targetPort }}
          protocol: TCP
  podSelector:
    matchLabels:
      {{- include "helm.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress