# OS, ENV variables, IDE
.env
.env.test
.vscode
 .idea/
# Directories
coverage/
dist/
node_modules/
.cache
.eslintcache
.npm
# Files
*.log*
cypress/screenshots
cypress/videos
cypress/report
mochawesome-report/
axe.csv
