// ================================================
// Styles for displaying declarations on /your-voyages page
// ================================================

.your-voyages__flex {
  display: flex;
  flex-direction: column;
}

.light-grey__border {
  border-bottom: 1px solid #b1b4b6;
  margin: 0
}

.dark-grey__border {
  border-bottom: solid 1px #0b0c0c;
}

.facet-tags__container {
  display: block;
  padding-bottom: 5px;
}

.facet-tags__group {
  display: none;
}

.facet-tags__wrapper {
  vertical-align: middle;
  margin: 5px 0;
  display: inline-block;
}

.facet-tag {
  display: table-cell;
  position: relative;
  padding: 5px;
  border: 1px solid #505a5f;
  border-radius: 5px;
  background-color: #f3f2f1;
}

.reported-voyages__text {
  width: 100%;
  margin-bottom: 10px;
}

.reported-voyages-margin--top {
  margin-top: 15px;
}

.govuk-tag {
  max-width: 100%;
  overflow-wrap: break-word;
}

@media (min-width: 641px) {
    .your-voyages__flex {
      display: flex;
      flex-direction: row;
    }

  .facet-tags__group {
    background-color: #f3f2f1;
    display: block;
  }

  .reported-voyages-margin--top {
    margin-top: 0;
  }

  .reported-voyages__columns {
    width: 20%;
  }

  .small-link-text {
    font-size: 1rem;
  }
}
